pkgbase = virtualbox-bin
	pkgdesc = Powerful x86 virtualization for enterprise as well as home use (Oracle branded non-OSE)
	pkgver = 7.2.2
	pkgrel = 1
	url = https://www.virtualbox.org/
	arch = x86_64
	license = GPL-3.0-only
	makedepends = python
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	noextract = VirtualBoxSDK-7.2.2-170484.zip
	source = http://download.virtualbox.org/virtualbox/7.2.2/VirtualBox-7.2.2-170484-Linux_amd64.run
	source = https://download.virtualbox.org/virtualbox/7.2.2/VirtualBoxSDK-7.2.2-170484.zip
	source = VBoxAuth-r110274.h::https://www.virtualbox.org/svn/vbox/trunk/include/VBox/VBoxAuth.h?p=110274
	source = VBoxAuthPAM-r110274.c::https://www.virtualbox.org/svn/vbox/trunk/src/VBox/HostServices/auth/pam/VBoxAuthPAM.c?p=110274
	source = VBoxAuthSimple-r110274.cpp::https://www.virtualbox.org/svn/vbox/trunk/src/VBox/HostServices/auth/simple/VBoxAuthSimple.cpp?p=110274
	source = dkms.conf
	source = vboxreload
	source = 60-vboxdrv.rules
	source = vboxweb.service
	source = virtualbox.modprobe
	source = virtualbox.sysusers
	source = LICENSE.sdk
	source = 013-Makefile.patch
	sha256sums = 56b8e9a87743dce6d3b6b59be09b2db00eea67c79566e04cb8b11811102d730e
	sha256sums = de0d809f86620b7d6a015b01af8da6d0d35d6a7fb0a050e200e15e3da6aadee0
	sha256sums = c344b7196963a1d51f730b52836e7fcc91ace4c137995b91dc00c12205f097cd
	sha256sums = be189d96a70820aadcea24453c696275c7c7b9453ac7157b176d93a95796bdc8
	sha256sums = 7ac1fff6f00a106fbc3fdb7e388f6072e8afb61f4352dfc530d8825222d202cd
	sha256sums = 63f1e9eabedec2170bd0589aaa2bf5025ff8f8ec1764cc4823cbe446e9ce1388
	sha256sums = 4001b5927348fe669a541e80526d4f9ea91b883805f102f7d571edbb482a9b9d
	sha256sums = 9c5238183019f9ebc7d92a8582cad232f471eab9d3278786225abc1a1c7bf66e
	sha256sums = e6e875ef186578b53106d7f6af48e426cdaf1b4e86834f01696b8ef1c685787f
	sha256sums = 07fe5c8b313cd7f01505eb9721357269a288ccd0c04e6467afb954038d6f46df
	sha256sums = 2101ebb58233bbfadf3aa74381f22f7e7e508559d2b46387114bc2d8e308554c
	sha256sums = 09335d7d1075df02d29cec13119538134efdf43ea73a93b0f89d0d7d4b6625a1
	sha256sums = a3ec0cab869e2d64914bffbf1c11a3c571808438656af654932f96e7a69114fd

pkgname = virtualbox-bin
	depends = bash
	depends = device-mapper
	depends = dkms
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = hicolor-icon-theme
	depends = libgl
	depends = libidl2
	depends = libx11
	depends = libxcb
	depends = libxcursor
	depends = libxinerama
	depends = libxmu
	depends = libxt
	depends = python
	depends = sdl
	depends = zlib
	optdepends = virtualbox-bin-guest-iso: for guest additions CD image
	optdepends = virtualbox-bin-sdk: for the software developer kit
	optdepends = virtualbox-ext-oracle: for Oracle extensions pack
	provides = virtualbox=7.2.2
	provides = virtualbox-host-dkms
	provides = VIRTUALBOX-HOST-MODULES
	conflicts = virtualbox
	conflicts = virtualbox-host-dkms
	conflicts = virtualbox-host-modules-arch
	replaces = virtualbox_bin
	replaces = virtualbox-sun
	options = !strip
	options = !emptydirs
	backup = etc/vbox/vbox.cfg

pkgname = virtualbox-bin-guest-iso
	pkgdesc = VirtualBox guest additions ISO image for use with virtualbox-bin package
	arch = any
	provides = virtualbox-guest-iso

pkgname = virtualbox-bin-sdk
	pkgdesc = VirtualBox software developer kit for use with virtualbox-bin package
	arch = any
	license = LGPL-2.1-only
	license = GPL-3.0-only
	license = LicenseRef-Custom
	depends = python
	optdepends = java-runtime: for webservice java bindings
	provides = virtualbox-sdk
	conflicts = virtualbox-sdk
