pkgbase = openmvg-git
	pkgdesc = open Multiple View Geometry library. Basis for 3D computer vision and Structure from Motion.
	pkgver = 2.0.r114.gc92ed1be
	pkgrel = 1
	url = http://imagine.enpc.fr/~moulonp/openMVG/
	arch = i686
	arch = x86_64
	license = MPL
	makedepends = git
	makedepends = cmake
	makedepends = doxygen
	makedepends = eigen3
	depends = qt5-base
	depends = qt5-svg
	depends = cereal
	depends = glfw
	depends = lz4
	depends = libpng
	depends = libjpeg
	depends = libtiff
	depends = libxcursor
	depends = libxinerama
	depends = libxrandr
	depends = libxxf86vm
	depends = libxi
	depends = graphviz
	depends = libgl
	depends = ceres-solver
	depends = gflags
	depends = flann
	depends = coin-or-coinutils
	depends = coin-or-clp
	depends = coin-or-osi
	depends = coin-or-lemon
	options = !emptydirs
	source = git+https://github.com/openMVG/openMVG.git#branch=develop
	source = glfw::git+https://github.com/elmindreda/glfw
	source = osi_clp::git+https://github.com/openMVG-thirdparty/osi_clp
	source = cereal::git+https://github.com/openMVG-thirdparty/cereal
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = openmvg-git
