pkgbase = python-fluent.runtime
	pkgdesc = Localization library for expressive translations.
	pkgver = 0.4.0
	pkgrel = 1
	epoch = 2
	url = https://github.com/projectfluent/python-fluent
	arch = any
	license = Apache-2.0
	makedepends = python-setuptools
	makedepends = python-setuptools
	depends = python-fluent.syntax
	depends = python-attrs
	depends = python-babel
	depends = python-pytz
	depends = python-typing_extensions
	source = https://files.pythonhosted.org/packages/source/f/fluent.runtime/fluent.runtime-0.4.0.tar.gz
	sha256sums = cb5ef96a58a3f67acaaca046d1201d202a1ebf2823e5e664370f359bae20574d

pkgname = python-fluent.runtime
