pkgbase = teller-bin
	pkgdesc = Binary package of Teller - Cloud native secrets management for developers
	pkgver = 2.0.7
	pkgrel = 1
	url = https://github.com/tellerops/teller
	arch = x86_64
	license = Apache-2.0
	depends = openssl-1.1
	source = https://github.com/tellerops/teller/releases/download/v2.0.7/teller-x86_64-linux.tar.xz
	sha256sums = 3f4d13aeb516f3c330809f0dc22119d7b7bcb757c0c441431734c0746bf9684f

pkgname = teller-bin
