pkgbase = flashlight-bin
	pkgdesc = Lighthouse for Mobile - audits your Android app and gives a performance score
	pkgver = 0.18.0
	pkgrel = 1
	url = https://github.com/bamlab/flashlight/
	arch = x86_64
	license = MIT
	conflicts = flashlight
	options = !strip
	source = flashlight-0.18.0.zip::https://github.com/bamlab/flashlight//releases/download/v0.18.0/flashlight-linux.zip
	source = flashlight-LICENSE::https://raw.githubusercontent.com/bamlab/flashlight/refs/heads/main/LICENSE
	b2sums = 65dab92a466d5bcb129fbb7a8ffd57cc3b3430f5bf4916f23d227002bd953ac60c9bbfa524c7ef291c12ec123429b6b51c2219a94a2b56daa14978350cf36196
	b2sums = f259bc34c49eebfbf67f310a5589bb84c09c7476795e66c9bc650627492f92915f7e949e10c842077349b33f7a2238fb15a50322ce539633d4f081505e69ff43

pkgname = flashlight-bin
