pkgbase = vicinae-bin
	pkgdesc = Raycast like FOSS app on Linux
	pkgver = 0.16.14
	pkgrel = 1
	url = https://github.com/vicinaehq/vicinae
	arch = x86_64
	license = GPL3
	depends = nodejs
	depends = qt6-base
	depends = qt6-svg
	depends = layer-shell-qt
	depends = libqalculate
	depends = qtkeychain-qt6
	depends = libxml2
	depends = minizip
	provides = vicinae
	conflicts = vicinae
	source = https://github.com/vicinaehq/vicinae/releases/download/v0.16.14/vicinae-linux-x86_64-v0.16.14.tar.gz
	source = vicinae.hook
	sha256sums = 8472fcaf02a9080e0ce7c89b0e247758a44fa265076874d1467804b6e5ce9194
	sha256sums = 3e946bcb7f3c2faa3568218987012db336be92acff805a373b6c10bdeaa9e7a8

pkgname = vicinae-bin
