pkgbase = meow-nvim
	pkgdesc = cat alternative using Neovim for highlighting and configuration
	pkgver = 1.0.2
	pkgrel = 2
	url = https://github.com/datsfilipe/meow
	arch = x86_64
	license = MIT
	makedepends = rust
	depends = neovim
	source = meow-1.0.2.tar.gz::https://github.com/datsfilipe/meow/archive/refs/tags/v1.0.2.tar.gz
	b2sums = 4461283b68a79cb77c5df043102a10a97f78d04a63436c67d195411925bce95a1c255e33a04b7a2a22de48a686ac4958a6d2caea1e7796ac48fb1bf9585028a0

pkgname = meow-nvim
