pkgbase = cartero
	pkgdesc = Make HTTP requests and test APIs
	pkgver = 25.0
	pkgrel = 1
	url = https://github.com/danirod/cartero
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = blueprint-compiler
	makedepends = git
	makedepends = meson
	makedepends = rust
	depends = curl
	depends = glib2
	depends = gtk4
	depends = gtksourceview5
	depends = libadwaita
	depends = openssl
	options = !lto
	options = !strip
	source = cartero-25.0.tar.xz::https://github.com/danirod/cartero/releases/download/v25.0/cartero-25.0.tar.xz
	sha256sums = e5b60c652d6555f99862b15fb53c195588fa642362a90aa5b847cd427b45e452

pkgname = cartero
