pkgbase = microcom
	pkgdesc = terminal emulator
	pkgver = 2023.09.0
	pkgrel = 1
	url = https://github.com/pengutronix/microcom
	arch = x86_64
	license = GPL
	depends = readline
	source = https://github.com/pengutronix/microcom/releases/download/v2023.09.0/microcom-2023.09.0.tar.xz
	sha256sums = ef42184bb35c9762b3e9c70748696f7478efacad8412a88aaf2d9a6a500231a1

pkgname = microcom
