pkgbase = python-mastodon
	pkgdesc = Python wrapper for the Mastodon API
	pkgver = 2.1.4
	pkgrel = 1
	url = https://github.com/halcy/Mastodon.py
	arch = any
	license = MIT
	checkdepends = python-pytest-runner
	checkdepends = python-pytest-cov
	checkdepends = python-pytest-vcr
	checkdepends = python-pytest-mock
	checkdepends = python-requests-mock
	checkdepends = python-pytz
	checkdepends = python-cryptography
	checkdepends = python-http-ece
	checkdepends = python-grapheme
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-requests
	depends = python-dateutil
	depends = python-magic
	depends = python-decorator
	depends = python-halcy-blurhash
	optdepends = python-cryptography: webpush support
	optdepends = python-grapheme: support for the get_status_length function, if required
	optdepends = python-http-ece: webpush support
	source = Mastodon.py-2.1.4.tar.gz::https://github.com/halcy/Mastodon.py/archive/v2.1.4.tar.gz
	sha512sums = db644f23dfc4c1da86647592e5dd2090f19e657d2339b132c85d7d51c149e281d310f3b6c665ac4da169825e2cadbcc7ba005cb09c5bf5689f21fa62076c3e31

pkgname = python-mastodon
