pkgbase = wireguard-deployer-git
	pkgdesc = WireGuard configs and keys generaor for systemd-networkd and OpenWrt 
	pkgver = 0.1.0.r29.150e155
	pkgrel = 1
	url = https://github.com/7Ji/wireguard-deployer
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-or-later
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	provides = wireguard-deployer=0.1.0.r29.150e155
	conflicts = wireguard-deployer
	source = git+https://github.com/7Ji/wireguard-deployer.git
	sha256sums = SKIP

pkgname = wireguard-deployer-git
