pkgbase = firefox-extension-skip-redirect-bin
	pkgdesc = Skip intermediary pages that some pages use before redirecting to a final page
	pkgver = 2.3.6
	pkgrel = 1
	url = https://github.com/sblask-webextensions/webextension-skip-redirect
	arch = any
	groups = firefox-addons
	license = MIT
	depends = firefox
	conflicts = firefox-extension-skip-redirect
	source = https://addons.mozilla.org/firefox/downloads/file/3920533/skip_redirect-2.3.6.xpi
	sha256sums = dbe8950245c1f475c5c1c6daab89c79b83ba4680621c91e80f15be7b09b618ae

pkgname = firefox-extension-skip-redirect-bin
