pkgbase = arch-manwarn
	pkgdesc = Rust-based pacman hook that blocks updates if unread Arch News posts require manual intervention
	pkgver = 1.3.2
	pkgrel = 1
	url = https://github.com/NLion74/arch-manwarn
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv6h
	arch = i686
	license = UNLICENSE
	makedepends = rust
	makedepends = cargo
	depends = pacman
	depends = curl
	conflicts = informant
	source = arch-manwarn-1.3.2.tar.gz::https://github.com/NLion74/arch-manwarn/archive/refs/tags/v1.3.2.tar.gz
	sha256sums = 1a1c958bb62932e17c89ef35dc7e320a144df2f042bbf784aac3330536e2810e

pkgname = arch-manwarn
