pkgbase = misuzu-music-bin
	pkgdesc = 一个跨平台的本地音乐播放器，支持自动匹配歌词和海报，支持创建歌单，支持日语汉字注音假名。界面仿Apple Music。
	pkgver = 1.0.11
	pkgrel = 1
	url = https://github.com/MCDFsteve/misuzumusic
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = mpv
	depends = zenity
	provides = misuzu-music=1.0.11
	conflicts = misuzu-music
	options = !debug
	source = misuzu-music-1.0.11.tar.gz::https://github.com/MCDFsteve/misuzumusic/releases/download/v1.0.11/linux-x64-1.0.11.tar.gz
	source = misuzu-music.png::https://github.com/MCDFsteve/misuzumusic/raw/main/icons/icon.png
	source = misuzu-music.desktop
	source = https://github.com/MCDFsteve/misuzumusic/raw/main/LICENSE
	sha256sums = ff5fd3b7e69e65fd8dd9f717a543fccab53c5da5e85c23cea5dd90aaa27b0b88
	sha256sums = cf54ee24983bfb80f061b00d82cd6f17db1a82da8b1d5f6a7e97115bd7ededc9
	sha256sums = d3eb51faad853438e797678b594c3e25b763778b2022847f8862d7bed6e5259a
	sha256sums = d674f671ab6551f2d91442d89b0c0f32ff0096893b665d8c467ed6e63539d2d0

pkgname = misuzu-music-bin
