pkgbase = jupyterlab-myst
	pkgdesc = Use MyST in JupyterLab
	pkgver = 2.4.2
	pkgrel = 1
	url = https://github.com/executablebooks/jupyterlab-myst
	arch = any
	license = BSD
	makedepends = python-build
	makedepends = python-hatchling
	makedepends = jupyterlab
	makedepends = python-hatch-jupyter-builder
	makedepends = python-hatch-nodejs-version
	makedepends = nodejs
	makedepends = python-installer
	depends = jupyter-server
	provides = python-jupyterlab-myst
	source = https://github.com/executablebooks/jupyterlab-myst/archive/refs/tags/v2.4.2.tar.gz
	sha256sums = d50cab8e5e1a24710c490bb0898f1c6da2dcdeaed5dfa6691cb0f9f2fe45904e

pkgname = jupyterlab-myst
