pkgbase = zeldalttp
	pkgdesc = Legend Of Zelda: Link to the Past game powered by the zelda3.
	pkgver = 1.0.2
	pkgrel = 2
	url = https://gitlab.com/linuxbombay/zeldalttp
	arch = pentium4
	arch = i386
	arch = i686
	arch = x86_64
	arch = aarch64
	license = GPL
	makedepends = unzip
	depends = zelda3-bin
	depends = wget
	depends = unzip
	depends = yad
	source = https://gitlab.com/linuxbombay/zeldalttp/-/archive/1.0.2/zeldalttp-1.0.2.tar.bz2
	sha256sums = f1ff517eff8223815aea282cddf692fdf8deab42abe0f2d919c43822e4976245

pkgname = zeldalttp
