pkgbase = louvre
	pkgdesc = C++ library for building Wayland compositors
	pkgver = 2.18.1_1
	pkgrel = 1
	url = https://github.com/CuarzoSoftware/Louvre
	arch = x86_64
	license = LGPL-2.1-only
	makedepends = meson
	depends = libsrm
	depends = wayland
	depends = libglvnd
	depends = libxcursor
	depends = libxkbcommon
	depends = pixman
	depends = libdrm
	depends = mesa
	depends = libinput
	depends = seatd
	depends = glibc
	depends = freeimage
	depends = fontconfig
	depends = freetype2
	depends = icu
	depends = systemd-libs
	source = louvre-2.18.1-1.tar.gz::https://github.com/CuarzoSoftware/Louvre/archive/refs/tags/v2.18.1-1.tar.gz
	sha256sums = 146c9d5eff1b4f15fbeee2fe043420503c8e8357f826e15dcf712a61257ca9c4

pkgname = louvre
