pkgbase = vicinae-git
	pkgdesc = A focused launcher for your desktop — native, fast, extensible
	pkgver = 0.15.1.r1.g8cc6e59
	pkgrel = 3
	url = https://github.com/vicinaehq/vicinae
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = npm
	makedepends = rapidfuzz-cpp
	depends = nodejs
	depends = qt6-base
	depends = qt6-svg
	depends = protobuf
	depends = cmark-gfm
	depends = layer-shell-qt
	depends = libqalculate
	depends = minizip
	depends = qtkeychain-qt6
	provides = vicinae
	conflicts = vicinae
	source = git+https://github.com/vicinaehq/vicinae.git
	source = vicinae.hook
	sha256sums = SKIP
	sha256sums = e9697f260d8d848090d0585fd7d29b8a7344964a8d1dfaa0409df260500de864

pkgname = vicinae-git
