pkgbase = python-typedunits
	pkgdesc = A fast units and dimensions library with support for static dimensionality checking and protobuffer serialization
	pkgver = 0.0.1
	pkgrel = 1
	url = https://github.com/quantumlib/TypedUnits
	arch = x86_64
	license = Apache-2.0
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = cython
	depends = python-attrs
	depends = python-numpy
	depends = python-protobuf
	depends = python-pyparsing
	source = typedunits::git+https://github.com/quantumlib/TypedUnits#tag=v0.0.1
	b2sums = 05e6c21997fc725dde8b5bcf218c7ad023d49f9ee8ee0954a2e5d22b4125e2be9f3fd3105cac0ef312ecdd8cfba9f6064bfdd2f8dfe32ae1768ed7064f7d3b6d

pkgname = python-typedunits
