pkgbase = havoc
	pkgdesc = minimal terminal emulator for Wayland on Linux
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/ii8/havoc
	arch = x86_64
	license = MIT
	makedepends = wayland-protocols
	depends = libxkbcommon
	depends = wayland
	source = havoc-0.7.0.tar.gz::https://github.com/ii8/havoc/archive/0.7.0.tar.gz
	b2sums = 7204efcfdcf6ec6a5cbe70a39f122c66fc8788462739f9cf052f20c9c0933ab58de559f5c179e1394ec4dc9acb0c761d9c4f14459949d24ad4613bdfb0767042

pkgname = havoc
