pkgbase = python-conda-libmamba-solver
	pkgdesc = The libmamba based solver for conda.
	pkgver = 25.4.0
	pkgrel = 1
	url = https://github.com/conda/conda-libmamba-solver
	arch = any
	license = BSD-3-Clause
	makedepends = python-hatch-vcs
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = micromamba
	depends = python-boltons
	source = python-conda-libmamba-solver-25.4.0.tar.gz::https://github.com/conda/conda-libmamba-solver/archive/refs/tags/25.4.0.tar.gz
	sha256sums = a00bd98681607b1db5783f680e3375931ad990b7d19ae1ebf6987c20330bbfa9

pkgname = python-conda-libmamba-solver
