pkgbase = python-customtkinter
        pkgdesc = A modern and customizable python UI-library based on Tkinter
        pkgver = 5.2.2
        pkgrel = 2
        url = https://github.com/TomSchimansky/CustomTkinter
        arch = any
        license = MIT
        makedepends = python-build
        makedepends = python-installer
        makedepends = python-setuptools
        makedepends = python-wheel
        depends = python
        depends = python-darkdetect
        depends = python-packaging
        depends = python-pillow
        depends = python-typing_extensions
        depends = tk
        provides = python-customtkinter
        conflicts = python-customtkinter-git
        source = python-customtkinter-5.2.2.tar.gz::https://github.com/TomSchimansky/CustomTkinter/archive/refs/tags/v5.2.2.tar.gz
        sha512sums = 310010366d2c6fba53045cccc45117b4bdfaeaebaa090fed2e4fc99db805a05ea99c9f4f7d32b5129694036c77b6f442b43ef5a79b7d5fa0de19f8ffbb6fb646

pkgname = python-customtkinter