pkgbase = python-devgoldyutils
	pkgdesc = Goldy's small python util library.
	pkgver = 3.0.0
	pkgrel = 1
	url = https://github.com/THEGOLDENPRO/devgoldyutils
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = python-build
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	source = https://github.com/THEGOLDENPRO/devgoldyutils/archive/refs/tags/3.0.0.zip
	md5sums = SKIP

pkgname = python-devgoldyutils
