pkgbase = musicxx-bin
	pkgdesc = Audio and video player
	pkgver = 0.83.3
	pkgrel = 1.0
	url = https://github.com/coolight7/musicxx
	arch = x86_64
	license = MIT
	makedepends = 7zip
	depends = gtk3
	depends = util-linux-libs
	depends = xz
	options = !strip
	source = musicxx-0.83.3.tar.gz::https://github.com/beanc904/musicxx-arch/releases/download/v0.83.3/musicxx-0.83.3.appimage
	sha256sums = 9ec4d2e1ee4ed4827b29f42c2a171e0cadad61f8e0ac1da1e734caae3eea6ffe

pkgname = musicxx-bin
