pkgbase = musicxx-bin
	pkgdesc = Audio and video player
	pkgver = 0.83.5
	pkgrel = 1.0
	url = https://github.com/coolight7/musicxx
	arch = x86_64
	license = MIT
	makedepends = 7zip
	depends = gtk3
	depends = util-linux-libs
	depends = xz
	options = !strip
	source = musicxx-0.83.5.appimage::https://github.com/beanc904/musicxx-arch/releases/download/v0.83.5/musicxx-0.83.5.appimage
	sha256sums = 5a787c46e25e728e490c4087be2a4608952822f8faf32f2934b5b0d36e60ece9

pkgname = musicxx-bin
