pkgbase = twemoji-mozilla-fontconfig
	pkgdesc = Use Mozilla version of Twitter Color Emoji.
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/mozilla/twemoji-colr
	arch = any
	license = Apache-2.0 AND CC-BY-4.0
	provides = emoji-font
	provides = twemoji-color-font
	source = 75-twemoji-mozilla.conf
	source = https://github.com/mozilla/twemoji-colr/blob/master/LICENSE.md
	sha256sums = fd46c9e90c73a8516934515128230f4decf7300e12174f220c890d5f1801340c
	sha256sums = SKIP

pkgname = twemoji-mozilla-fontconfig
