pkgbase = windsurf-next
	pkgdesc = Windsurf-next - Next version of the Windsurf editor
	pkgver = 1.12.165_next.8951cd3ad6
	pkgrel = 1
	url = https://windsurf.com
	arch = x86_64
	license = Custom
	makedepends = curl
	makedepends = jq
	depends = vulkan-driver
	depends = ffmpeg
	depends = glibc
	depends = libglvnd
	depends = gtk3
	depends = alsa-lib
	optdepends = bash-completion: for bash shell completions
	optdepends = zsh: for zsh shell completions
	provides = windsurf-next
	conflicts = windsurf-next
	options = !strip
	source = windsurf-next_1.12.165_next.8951cd3ad6_linux-x64::https://windsurf-stable.codeiumdata.com/linux-x64/next/8951cd3ad688e789573d7f51750d67ae4a0bea7d/Windsurf-linux-x64-1.12.165+next.8951cd3ad6.tar.gz
	source = windsurf-next.desktop
	source = windsurf-next-url-handler.desktop
	sha256sums = 13e6a5bd4b04d988b96ab756af84ed2e00a9672a14684b76995bcd3f653f1167
	sha256sums = 0561a3546b31291d43138b1f51e9696d889b37d0e88966c9bd32307d4536f91a
	sha256sums = 7bcdc177ae93096a04076ddf519b836dddf3a11a49e19bfca80f6bf5e60f91b2

pkgname = windsurf-next
