pkgbase = outwiker
	pkgdesc = Outliner and personal wiki with keeping the tree of notes in the form of directories on a disk
	pkgver = 3.3.0
	pkgrel = 1
	url = https://github.com/jenyay/outwiker
	arch = any
	license = GPL-3.0-only
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-hunspell
	depends = python-idna
	depends = python-pillow
	depends = python-psutil
	depends = python-pyparsing
	depends = python-rcssmin
	depends = python-wxpython
	source = outwiker-3.3.0.tar.gz::https://github.com/jenyay/outwiker/archive/refs/tags/3.3.0-stable.tar.gz
	sha256sums = 6d2611cbc4a0857cb9ab6e40894c6c8836036fc929e246deb08d3a6ced9feb3b

pkgname = outwiker
