pkgbase = tinymist-nightly-bin
	pkgdesc = An integrated language service for Typst
	pkgver = 0.11.33
	pkgrel = 1
	url = https://github.com/Myriad-Dreamin/tinymist
	arch = x86_64
	license = Apache-2.0
	depends = gcc-libs
	depends = glibc
	provides = tinymist
	conflicts = tinymist-git
	conflicts = tinymist-bin
	options = strip
	source = https://github.com/Myriad-Dreamin/tinymist/releases/download/v0.11.33/tinymist-linux-x64?v=0.11.33
	sha256sums = d71f24e6972a9eb98c636cfa763ab9aeeb6d927be16d756bc71409bd54be60b1

pkgname = tinymist-nightly-bin
