pkgbase = olivetin
	pkgdesc = Give safe and simple access to predefined shell commands from a web interface.
	pkgver = 2024.03.24
	pkgrel = 4
	url = http://www.olivetin.app
	arch = x86_64
	license = AGPLv3
	provides = olivetin
	conflicts = olivetin-bin
	backup = /etc/OliveTin/config.yaml
	makedepends = go
	makedepends = git
	makedepends = npm
	source = olivetin-2024.03.24::git+https://github.com/OliveTin/OliveTin.git?tag=2024.03.24
	md5sums = SKIP
	source = systemd-unit-usr-bin.patch
	md5sums = 879288fcc421096769c4dc7adcf251c5

pkgname = olivetin
