pkgbase = hyprsunset-git
	pkgdesc = An application to enable a blue-light filter on Hyprland
	pkgver = 0.3.1.r0.g962f519
	pkgrel = 1
	url = https://github.com/hyprwm/hyprsunset
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	makedepends = hyprland-protocols-git>=0.4.0
	makedepends = hyprwayland-scanner-git>=0.4.0
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = hyprlang-git
	depends = hyprutils-git>=0.2.3
	depends = wayland
	depends = wayland-protocols
	provides = hyprsunset=0.3.1
	conflicts = hyprsunset
	source = hyprsunset::git+https://github.com/hyprwm/hyprsunset.git
	sha256sums = SKIP

pkgname = hyprsunset-git
