pkgbase = cartero-git
	pkgdesc = Make HTTP requests and test APIs
	pkgver = v25.0.r1.9f2ee16
	pkgrel = 1
	url = https://cartero.danirod.es
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = blueprint-compiler
	makedepends = git
	makedepends = meson
	makedepends = rust
	depends = curl
	depends = glib2
	depends = gtk4
	depends = gtksourceview5
	depends = libadwaita
	depends = openssl
	provides = cartero
	conflicts = cartero
	options = !lto
	source = cartero::git+https://github.com/danirod/cartero.git
	sha256sums = SKIP

pkgname = cartero-git
