pkgbase = hyprland-meta-git
	pkgdesc = Meta package to install Hyprland and all related utilities
	pkgver = 0.0.1
	pkgrel = 5
	url = https://www.hyprland.org/
	arch = any
	license = BSD-3-Clause
	depends = hypridle-git
	depends = hyprland-git
	depends = hyprlock-git
	depends = hyprpaper-git
	depends = hyprpicker-git
	depends = hyprpolkitagent-git
	depends = hyprpwcenter-git
	depends = hyprqt6engine-git
	depends = hyprsunset-git
	depends = hyprsysteminfo-git
	depends = xdg-desktop-portal-hyprland-git

pkgname = hyprland-meta-git
