pkgbase = illogical-impulse-basic
	pkgdesc = Illogical Impulse Basic Dependencies
	pkgver = 1.0
	pkgrel = 1
	arch = any
	license = None
	depends = axel
	depends = bc
	depends = coreutils
	depends = cliphist
	depends = cmake
	depends = curl
	depends = fuzzel
	depends = rsync
	depends = wget
	depends = ripgrep
	depends = jq
	depends = npm
	depends = meson
	depends = typescript
	depends = gjs
	depends = xdg-user-dirs

pkgname = illogical-impulse-basic
