pkgbase = gauth
	pkgdesc = Two-factor authentication (2FA) in the terminal
	pkgver = 1.5.0
	pkgrel = 2
	url = https://github.com/pcarrier/gauth
	arch = x86_64
	license = ISC
	makedepends = go
	source = gauth-1.5.0.tar.gz::https://github.com/pcarrier/gauth/archive/refs/tags/v1.5.0.tar.gz
	sha256sums = 5c98287f5c209b9f02ec62ede4abd4117aa3ca738fbcb4153a6ec1e966f492a8

pkgname = gauth
