pkgbase = pkcrack
	pkgdesc = An algorithm for breaking the PkZip cipher that was devised by Eli Biham and Paul Kocher.
	pkgver = 1.2.3
	pkgrel = 1
	url = https://www.unix-ag.uni-kl.de/~conrad/krypto/pkcrack.html
	install = pkcrack.install
	arch = i686
	arch = x86_64
	license = custom
	depends = glibc
	conflicts = libextractor
	source = https://www.unix-ag.uni-kl.de/~conrad/krypto/pkcrack/pkcrack-1.2.3.tar.gz
	source = LICENSE
	sha256sums = 8f49fa387962a37a14c9abd549016721a634251105bf4b837cc72f0bad413d38
	sha256sums = 12b5054963697d11082597453457ef9bac93435a4cee79ebb09511e1566c5e43

pkgname = pkcrack
