pkgbase = bluebrick-extras-lgauge
	pkgdesc = BlueBrick Lego Layout Planer - L-Gauge Extra Parts
	pkgver = 1.2
	pkgrel = 1
	url = https://l-gauge.org/wiki/index.php/CAD_Tools
	arch = any
	license = unknown
	depends = bluebrick
	source = http://l-gauge.org/downloads/SchematicRCv.1.2.zip
	source = http://l-gauge.org/downloads/Schematic9Vv.1.2.zip
	sha256sums = bfecc1e16cf31a461c04f08b31e89585bc93f63aab2e3a9682c62d72f70a6979
	sha256sums = 1e8c50cc581de7f30fb32fc0b8f8357eb41a6edcf70d0bff58632c50a8e2f714

pkgname = bluebrick-extras-lgauge
