pkgbase = yandex-music-bin
	pkgdesc = Yandex Music desktop (repacked from .deb)
	pkgver = 5.73.1
	pkgrel = 1
	url = https://music.yandex.ru/
	install = yandex-music-bin.install
	arch = x86_64
	license = custom
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	depends = hicolor-icon-theme
	optdepends = libappindicator-gtk3: системный индикатор в трее
	provides = yandex-music
	conflicts = yandex-music
	noextract = Yandex_Music_amd64_5.73.1.deb
	options = !strip
	options = !debug
	source = https://music-desktop-application.s3.yandex.net/stable/Yandex_Music_amd64_5.73.1.deb
	sha256sums = SKIP

pkgname = yandex-music-bin
