pkgbase = bwget
	pkgdesc = A tiny, single-file Python replacement for wget with progress bar, resume, retries, and sha256 verification
	pkgver = 0.3.6
	pkgrel = 1
	url = https://github.com/Sr-0w/bwget
	arch = any
	license = MIT
	depends = python
	depends = python-requests
	depends = python-rich
	depends = python-tomli
	source = bwget.py
	source = bwget.1
	sha256sums = 3123d0cc6fa313559a21d294c76e2a0cc8248016f7bab25b7d9a2b0d6d0710d9
	sha256sums = 78370b058f94a75249707d959d170e1aa55d8ef6b0e0129fa0db9ef746c60743

pkgname = bwget
