pkgbase = rofication-git
	pkgdesc = minimalistic notification system loosely modeled after notification centers like on android and windows 10 (git version)
	pkgver = r25.ef47f39
	pkgrel = 1
	url = https://github.com/DaveDavenport/Rofication
	arch = any
	license = GPL
	makedepends = git
	depends = python-dbus
	depends = python-gobject
	depends = python-jsonpickle
	provides = rofication
	provides = notification-daemon
	conflicts = rofication
	source = git+https://github.com/DaveDavenport/Rofication.git
	md5sums = SKIP

pkgname = rofication-git
