pkgbase = katriawm
	pkgdesc = non-reparenting, dynamic window manager for X11 with decorations
	pkgver = 25.09
	pkgrel = 1
	url = https://www.uninformativ.de/git/katriawm/file/README.html
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = git
	depends = libx11
	depends = libxft
	depends = libxrandr
	source = git+https://www.uninformativ.de/git/katriawm.git#tag=v25.09
	sha256sums = 768e36cd146ff494b828219d43f20fe62ecfb2edddc5df8b11a146561cc708a6

pkgname = katriawm
