pkgbase = goclock
	pkgdesc = A simple and elegant desktop clock application
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/AnnNaserNabil/goclock
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = MIT
	makedepends = go
	makedepends = git
	makedepends = pkgconf
	makedepends = gcc
	makedepends = glu
	depends = gtk3
	depends = glib2
	depends = libx11
	depends = libxext
	depends = libxrender
	depends = libxrandr
	depends = libxinerama
	depends = libxcursor
	depends = libxi
	depends = libxcomposite
	depends = libxdamage
	depends = libxfixes
	depends = libxau
	depends = libxdmcp
	depends = libxcb
	provides = goclock
	conflicts = goclock

pkgname = goclock
