pkgbase = atlas-git
	pkgdesc = A modern tool for managing database schemas
	pkgver = 0.28.0
	pkgrel = 1
	url = https://github.com/ariga/atlas
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	provides = atlas
	conflicts = atlas
	source = atlas-0.28.0.tar.gz::https://github.com/ariga/atlas/archive/v0.28.0.tar.gz
	sha256sums = e93a3e60b7cff098645e0f2c619c5957ab52c2ab7c9bf52fafdc723c7e5ae861
	b2sums = 138f658ecb3c5e280cfd31e7804e6e8894e5ff59f7e1bd73e72e97db9202fdac53bb0ad486b1a734ad9f95a8798b47bd8ce548d124e97fe9de59b7b7ff2d1341

pkgname = atlas-git
