pkgbase = python-cotengra
	pkgdesc = Hyper optimized contraction trees for large tensor networks and einsums
	pkgver = 0.7.5
	pkgrel = 1
	url = https://github.com/jcmgray/cotengra
	arch = any
	license = Apache-2.0
	checkdepends = python-matplotlib
	checkdepends = python-pytest
	checkdepends = python-seaborn
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatch-vcs
	makedepends = python-hatchling
	depends = python-autoray
	depends = python-networkx
	depends = python-numpy
	depends = python-tqdm
	optdepends = python-cmaes: support for CMA evolution strategy
	optdepends = python-cotengrust: rust accelerated contraction ordering primitives
	optdepends = python-cytoolz: high performance functional utilities
	optdepends = python-kahypar: partitioning graphs and hypergraphs
	optdepends = python-opt_einsum: optimized einsum functions
	optdepends = python-optuna: hyperparameter optimization
	optdepends = python-ray: support for distributed applications
	source = cotengra::git+https://github.com/jcmgray/cotengra.git#tag=v0.7.5
	b2sums = ca89e7874f0e6b878877467f4430c73ada03f839a40156b4403e4d22ca6b06c30fb683d418bcd350348b0520736b97cb0f0029be319bc541caae6703aa113d7c

pkgname = python-cotengra
