pkgbase = uaspl
	pkgdesc = Utilidad Automatizada para la Seguridad y Protección en Linux
	pkgver = 1.2.2
	pkgrel = 2
	url = https://github.com/KevinCrrl/UASPL
	arch = any
	license = GPL3
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-customtkinter
	depends = python-pyxdg
	depends = python-colorama
	depends = python-jsonschema
	depends = python-pyfiglet
	depends = clamav
	depends = rkhunter
	depends = ufw
	conflicts = uaspl-bin
	source = https://github.com/KevinCrrl/UASPL/releases/download/1.2.2/UASPL-1.2.2.tar.xz
	sha256sums = 0761fd9c04203002b262a7901c4449c05577971e345a8afc25efcd0c67f6810c

pkgname = uaspl
