pkgbase = vicinae
	pkgdesc = A focused launcher for your desktop — native, fast, extensible
	pkgver = 0.16.12
	pkgrel = 1
	url = https://github.com/vicinaehq/vicinae
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = npm
	makedepends = rapidfuzz-cpp
	makedepends = jq
	depends = nodejs
	depends = qt6-base
	depends = qt6-svg
	depends = protobuf
	depends = cmark-gfm
	depends = layer-shell-qt
	depends = libqalculate
	depends = minizip
	depends = qtkeychain-qt6
	depends = libxml2
	provides = vicinae
	source = vicinae-v0.16.12.tar.gz::https://github.com/vicinaehq/vicinae/archive/refs/tags/v0.16.12.tar.gz
	source = vicinae-v0.16.12-meta.yml::https://api.github.com/repos/vicinaehq/vicinae/git/ref/tags/v0.16.12
	source = vicinae.hook
	sha256sums = cebcb730042de98b981c81b7889145e1f514364af5ff13eb7f256469137d06f9
	sha256sums = 0a2992824999d55ee9c9aeca725f4434c765e730d21a56f1707a33a44b6cbbff
	sha256sums = 870f29cb68436deaaed2b87dff89bc753afdef8dcbfd1ec35c070bc39efe10a5

pkgname = vicinae
