pkgbase = vim-colors-xcode-git
	pkgdesc = XCode color theme for vim
	pkgver = r131.0ab58f6
	pkgrel = 1
	url = https://github.com/lunacookies/vim-colors-xcode
	arch = any
	license = ISC
	makedepends = git
	depends = vim
	provides = vim-colors-xcode
	conflicts = vim-colors-xcode
	source = vim-colors-xcode::git+https://github.com/lunacookies/vim-colors-xcode.git
	md5sums = SKIP

pkgname = vim-colors-xcode-git
