pkgbase = illogical-impulse-pymyc-aur
	pkgdesc = Illogical Impulse PyMYC Dependencies
	pkgver = 1.0
	pkgrel = 1
	arch = any
	license = None
	depends = python-materialyoucolor-git
	depends = gradience
	depends = python-libsass
	depends = python-material-color-utilities

pkgname = illogical-impulse-pymyc-aur
