pkgbase = python-pyjnius
	pkgdesc = Python module to access Java class as Python class, using JNI.
	pkgver = 1.6.1
	pkgrel = 1
	url = https://github.com/kivy/pyjnius
	arch = any
	license = MIT
	makedepends = cython
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = java-environment
	depends = python-six
	source = https://files.pythonhosted.org/packages/source/p/pyjnius/pyjnius-1.6.1.tar.gz
	sha256sums = d2a7ece6ed79bf1d7f97a4f6d61302d9f1d7652182a3e4c8a69dbaef31396e60

pkgname = python-pyjnius
