pkgbase = python-opensearch
	pkgdesc = Python Client for OpenSearch
	pkgver = 3.1.0
	pkgrel = 1
	url = https://github.com/opensearch-project/opensearch-py
	arch = any
	license = Apache-2.0
	makedepends = python-setuptools
	depends = python-urllib3
	depends = python-requests
	depends = python-dateutil
	depends = python-certifi
	depends = python-events
	source = python-opensearch-3.1.0.tar.gz::https://files.pythonhosted.org/packages/source/o/opensearch-py/opensearch_py-3.1.0.tar.gz
	sha256sums = 883573af13175ff102b61c80b77934a9e937bdcc40cda2b92051ad53336bc055

pkgname = python-opensearch
