pkgbase = canvas-downloader-bin
	pkgdesc = Downloads files from all courses in canvas.
	pkgver = 0.2.2
	pkgrel = 1
	url = https://github.com/bnjmnt4n/canvas-downloader
	arch = x86_64
	depends = gcc-libs
	depends = openssl
	source = https://github.com/bnjmnt4n/canvas-downloader/releases/download/v0.2.2/canvas-downloader-x86_64-unknown-linux-gnu-v0.2.2
	sha256sums = ac72a1349badf4ff3adbef7096e1ad79bce8ccbe28f251f84cbef63205cd8347

pkgname = canvas-downloader-bin
