pkgbase = swtchr
	pkgdesc = Gnome-style window switcher for the Sway window manager
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/lostatc/swtchr
	arch = x86_64
	license = MIT
	makedepends = rust
	depends = gtk4
	depends = gtk4-layer-shell
	depends = sway
	source = swtchr-0.1.3.tar.gz::https://github.com/lostatc/swtchr/archive/refs/tags/v0.1.3.tar.gz
	b2sums = 48d40d68661b31638aca6c79b45ca1805720a7355116f238c0710843f47fc49ca7d5388f9167bbb5d8fe54f1771c9a7ed85d85c8964d5c55187473d8133dda23

pkgname = swtchr
