pkgbase = enry
	pkgdesc = A command-line tool based on enry
	pkgver = 1.3.0
	pkgrel = 2
	url = https://github.com/go-enry/enry/
	arch = x86_64
	license = Apache-2.0
	checkdepends = go
	makedepends = go
	provides = enry
	source = https://github.com/go-enry/enry/archive/v1.3.0.tar.gz
	sha256sums = 39058e160b27828eceadaf374bfb380434acdcf8857da4a0b3e3600c1d136cac

pkgname = enry
