pkgbase = poweralertd
	pkgdesc = UPower-powered power alerter
	pkgver = 0.3.0
	pkgrel = 1
	url = https://sr.ht/~kennylevinsen/poweralertd
	arch = x86_64
	license = GPL-3.0-only
	makedepends = meson
	makedepends = scdoc
	depends = glibc
	depends = systemd-libs
	depends = upower
	optdepends = mako: notification daemon
	source = poweralertd-0.3.0.tar.gz::https://git.sr.ht/~kennylevinsen/poweralertd/archive/0.3.0.tar.gz
	sha256sums = 5b2a1d0fefab62e5ddb5784f2cd3d330f36b3cb5260936f5051f6ff89d8abc3f

pkgname = poweralertd
