pkgbase = easyeda-pro-electron
	pkgdesc = EasyEDA Professional Edition. Run with system electron.
	pkgver = 2.2.45.4
	pkgrel = 1
	url = https://pro.easyeda.com/
	install = easyeda-pro-electron.install
	arch = x86_64
	arch = aarch64
	license = LicenseRef-EasyEDA-Proprietary
	makedepends = curl
	depends = electron
	depends = libnotify
	depends = libappindicator-gtk3
	provides = easyeda-pro
	conflicts = easyeda-pro
	conflicts = easyeda-pro-git
	conflicts = easyeda-pro-bin
	source = easyeda-pro-electron.install
	source = easyeda-pro.sh
	sha256sums = ab64abe7821e4ea37a0e4d1f77c94f37d6a51c7df2038ba7b609c640adf8e51d
	sha256sums = 89289056ed4b5d051280e3a69dfb550b6914f470f201be1ca3b165ddd4f3e435
	source_x86_64 = easyeda-pro-x86_64-2.2.45.4.zip::https://image.easyeda.com/files/easyeda-pro-linux-x64-2.2.45.4.zip
	sha256sums_x86_64 = acb6157cf8ac361554d9888756108641fe5ca16acf71c611daa6ed54910d5002
	source_aarch64 = easyeda-pro-aarch64-2.2.45.4.zip::https://image.easyeda.com/files/easyeda-pro-linux-arm64-2.2.45.4.zip
	sha256sums_aarch64 = 24e39b5c901cf24417da0c78d902fa490185aca34c2a1a1c9d81479752a95fd3

pkgname = easyeda-pro-electron
