pkgbase = julia-git
	pkgdesc = High-level, high-performance, dynamic programming language
	pkgver = 1.11.3.r56940.gd63adeda50d
	pkgrel = 1
	url = https://julialang.org/
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = git
	makedepends = gcc-fortran
	makedepends = libwhich
	makedepends = llvm-julia
	makedepends = patchelf
	makedepends = python
	depends = blas64-openblas
	depends = fftw
	depends = libblastrampoline
	depends = libgit2
	depends = libunwind
	depends = libutf8proc
	depends = lld
	depends = llvm-julia-libs
	depends = mbedtls2
	depends = openlibm
	depends = 7zip
	depends = pcre2
	depends = suitesparse
	optdepends = gnuplot: If using the Gaston Package from julia
	provides = julia
	conflicts = julia
	options = !lto
	backup = etc/julia/startup.jl
	source = git+https://github.com/JuliaLang/julia.git#branch=release-1.11
	source = c12e8515.patch
	source = julia-hardcoded-libs.patch
	source = julia-libgit2-1.8.patch
	source = julia-libgit2-1.9.patch
	source = julia-metainfo.patch
	source = julia-curl-1.10.patch
	sha256sums = SKIP
	sha256sums = 2cc294b63e601d50341979fb936826bdba59de2165a5929eae927e152652f367
	sha256sums = e981ce26bb2394333c83512a607e8aa48ae0d66ec40e0f0b6d97ec70b6baa39f
	sha256sums = 3ba9a85464e874c8ac4caeba155a217e34c3e78e85eccaeb3c2a331ed83882b3
	sha256sums = 6b4a88fdfddd4c78c23cd8c26f5db1ca89ed6f1ae5558cf458a40482f6c64f98
	sha256sums = 074690d913b9544bef11468454fbf5f52005b2a12160123340cfacc91d4daf9f
	sha256sums = f9953782524471c5a8ce819bf00bd47f8272cea17058d15f24522d01b5e827e5

pkgname = julia-git
