pkgbase = illogical-impulse-microtex-git
	pkgdesc = MicroTeX for illogical-impulse dotfiles.
	pkgver = r494.0e3707f
	pkgrel = 1
	url = https://github.com/NanoMichael/MicroTeX
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = cmake
	depends = tinyxml2
	depends = gtkmm3
	depends = gtksourceviewmm
	depends = cairomm
	source = git+https://github.com/NanoMichael/MicroTeX.git
	sha256sums = SKIP

pkgname = illogical-impulse-microtex-git
