pkgbase = python-pyqcc
	pkgdesc = Python package to communicate with Crypta Labs QRNG devices
	pkgver = 0.1.4
	pkgrel = 1
	url = https://cryptalabs.com/qrng-driver-downloads/
	arch = any
	license = LicenseRef-unknown
	makedepends = python-installer
	depends = python
	depends = python-pyserial
	depends = qcc
	source = https://cryptalabs.com/support/releases/pyqcc/pyqcc-0.1.4-py3-none-any.whl
	source = license-unknown.txt
	b2sums = ca7be7578738abcc97929c44cf0f5fc90b80593db7bc978d0c00a9ef277f9ec599d2ec4d2fbd7e02e7576d3ab6dcdbfd6d0ca9e7831a455424b1c21b7da05e60
	b2sums = 900dfce730c0f29b0cd5fafdf5ed6bc08a3ca245c3bbee12878c7e183951e0a55e33205da747d1666baded6133473fa8506dea252a2bc23f6f7555ebfa500d54

pkgname = python-pyqcc
