pkgbase = ydiff
	pkgdesc = Colored, incremental, side-by-side diff viewer
	pkgver = 1.4.2
	pkgrel = 1
	url = http://pypi.python.org/pypi/ydiff/
	arch = any
	license = BSD-3-Clause
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	optdepends = patchutils: uses filterdiff for context diffs
	conflicts = cdiff
	source = ydiff-1.4.2.tar.gz::https://github.com/ymattw/ydiff/archive/refs/tags/1.4.2.tar.gz
	b2sums = ba1b6b4659d3de7d98c357a0d3c44169d04af9e606aac3ec0ef93512b59e04f5d75846ed19f7392031964f198002ff3192077052351703075b4427bbddc1e51b

pkgname = ydiff
