pkgbase = liberica-nik-24-full-bin
	pkgdesc = Liberica NIK is a downstream of GraalVM Community edition. The full version provides support for JavaFX and Swing.
	pkgver = 24.0.2.u13
	pkgrel = 1
	url = https://bell-sw.com/
	install = liberica-nik-24-full.install
	arch = x86_64
	license = custom
	depends = java-environment-common=3
	depends = java-runtime-common>=3
	depends = ca-certificates-utils
	optdepends = ffmpeg
	optdepends = freetype2
	optdepends = gtk2
	optdepends = gtk3
	optdepends = libnet
	provides = java-environment=24
	provides = java-environment-openjdk=24
	provides = java-openjfx=24
	provides = java-runtime-headless=24
	provides = java-runtime-headless-openjdk=24
	provides = java-runtime=24
	provides = java-runtime-openjdk=24
	provides = liberica-jdk-24-bin=24.0.2.u13
	provides = liberica-jdk-24-full-bin=24.0.2.u13
	provides = liberica-jdk-24-lite-bin=24.0.2.u13
	provides = liberica-jre-24-bin=24.0.2.u13
	provides = liberica-jre-24-full-bin=24.0.2.u13
	backup = etc/liberica-nik-24-full/logging.properties
	backup = etc/liberica-nik-24-full/management/jmxremote.access
	backup = etc/liberica-nik-24-full/management/jmxremote.password.template
	backup = etc/liberica-nik-24-full/management/management.properties
	backup = etc/liberica-nik-24-full/net.properties
	backup = etc/liberica-nik-24-full/security/java.policy
	backup = etc/liberica-nik-24-full/security/java.security
	backup = etc/liberica-nik-24-full/security/policy/README.txt
	backup = etc/liberica-nik-24-full/security/policy/limited/default_US_export.policy
	backup = etc/liberica-nik-24-full/security/policy/limited/default_local.policy
	backup = etc/liberica-nik-24-full/security/policy/limited/exempt_local.policy
	backup = etc/liberica-nik-24-full/security/policy/unlimited/default_US_export.policy
	backup = etc/liberica-nik-24-full/security/policy/unlimited/default_local.policy
	backup = etc/liberica-nik-24-full/sound.properties
	source = freedesktop-java.desktop.in
	source = freedesktop-jconsole.desktop.in
	source = freedesktop-jshell.desktop.in
	source = liberica-nik-24-full16.png::https://raw.githubusercontent.com/openjdk/jdk/master/src/java.desktop/unix/classes/sun/awt/X11/java-icon16.png
	source = liberica-nik-24-full24.png::https://raw.githubusercontent.com/openjdk/jdk/master/src/java.desktop/unix/classes/sun/awt/X11/java-icon24.png
	source = liberica-nik-24-full32.png::https://raw.githubusercontent.com/openjdk/jdk/master/src/java.desktop/unix/classes/sun/awt/X11/java-icon32.png
	source = liberica-nik-24-full48.png::https://raw.githubusercontent.com/openjdk/jdk/master/src/java.desktop/unix/classes/sun/awt/X11/java-icon48.png
	sha1sums = 01a9b4b5d035115644e2aec9b10a3cc0543d08e2
	sha1sums = 0beca0c5ca1c07a05987ee994ebe22d59466b1da
	sha1sums = ce92acdfee90e0b8a066ac337ab85e8fcf8273d7
	sha1sums = 36096a57cebd346e08efc68326fe77960d43726f
	sha1sums = b8233f9ff931ce97a265827fac18ed90f4e248c6
	sha1sums = a0da2952bc87a425182c3ac88e88649fbaa7cb65
	sha1sums = eb36aa73a9be98164447774217865b91e79d503c
	source_x86_64 = https://github.com/bell-sw/LibericaNIK/releases/download/24.2.2+1-24.0.2+13/bellsoft-liberica-vm-full-openjdk24.0.2+13-24.2.2+1-linux-amd64.tar.gz
	sha1sums_x86_64 = 3c5a9af0fd9aa888bc986f4252e9ba74ca16d22f

pkgname = liberica-nik-24-full-bin
