pkgbase = vt-cli-bin
	pkgdesc = VirusTotal Command Line Interface
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/VirusTotal/vt-cli
	arch = x86_64
	license = Apache-2.0
	depends = glibc
	provides = vt-cli
	conflicts = vt-cli
	source = Linux64-1.2.0.zip::https://github.com/VirusTotal/vt-cli/releases/download/1.2.0/Linux64.zip
	source = https://github.com/VirusTotal/vt-cli/raw/refs/heads/master/LICENSE
	sha256sums = 24098da1390c680e24a8b6aaa385e0a910339167069978f66b6270949836ffc5
	sha256sums = cfc7749b96f63bd31c3c42b5c471bf756814053e847c10f3eb003417bc523d30

pkgname = vt-cli-bin
