pkgbase = geany-plugin-jsonprettifier
	pkgdesc = Clean up unformatted JSON in Geany editor
	pkgver = 1.6.1
	pkgrel = 1
	url = https://plugins.geany.org/jsonprettifier.html
	arch = i686
	arch = x86_64
	license = GPL-2.0-or-later
	depends = geany
	depends = yajl
	source = https://github.com/zhgzhg/Geany-JSON-Prettifier/archive/v1.6.1.tar.gz
	sha256sums = 9e37c755e90389256d028aa35e291615a97bb503d04a09e821f936adbe2a1e9b

pkgname = geany-plugin-jsonprettifier
