pkgbase = mingw-w64-gstreamer
	pkgdesc = GStreamer Multimedia Framework (mingw-w64)
	pkgver = 1.24.5
	pkgrel = 1
	url = http://gstreamer.freedesktop.org/
	arch = any
	license = LGPL
	makedepends = mingw-w64-meson
	makedepends = glib2-devel
	depends = mingw-w64-glib2
	depends = mingw-w64-libxml2
	options = !strip
	options = !buildflags
	options = staticlibs
	source = http://gstreamer.freedesktop.org/src/gstreamer/gstreamer-1.24.5.tar.xz
	sha256sums = 2bdef209252bf146351843134b797db6b6e7adb4c00d82e83bd5abe608253a7b

pkgname = mingw-w64-gstreamer
