pkgbase = isa-l_crypto
	pkgdesc = A collection of optimized low-level functions targeting storage applications
	pkgver = 2.25.0
	pkgrel = 2
	url = https://github.com/intel/isa-l_crypto
	arch = x86_64
	license = BSD-3-Clause
	makedepends = nasm
	source = https://github.com/intel/isa-l_crypto/archive/v2.25.0.tar.gz
	b2sums = 18328b404a2686718fc8cf9bc596816e4521ec85440e8aad2bb40d32eabc606807617fc08c2790c4bb0a0b84648fa9820a4a6c19ac6a3cbbbc2cd96bddfd1eb9

pkgname = isa-l_crypto
