pkgbase = pseint-bin
	pkgdesc = Tool to learn the basics of programming using a simple and intuitive pseudolanguage in Spanish
	pkgver = 20240122
	pkgrel = 2
	url = http://pseint.sourceforge.net
	arch = x86_64
	license = GPL2
	makedepends = rsync
	depends = wxwidgets-gtk3
	conflicts = pseint
	noextract = creator.psz
	source = pseint-20240122.tgz::https://cfhcable.dl.sourceforge.net/project/pseint/20240122/pseint-l64-20240122.tgz
	sha256sums = 4ed1945df7a2935ea8da2809ded71f737ddabcbeeaa4976d9b75f7567054b1c5

pkgname = pseint-bin
