pkgbase = gowebly-bin
	pkgdesc = 🔥 A next-generation CLI tool to easily build amazing web applications with Go on the backend, using htmx & hyperscript and the most popular CSS frameworks on the frontend
	pkgver = 2.3.4
	pkgrel = 1
	url = https://github.com/gowebly/gowebly
	arch = x86_64
	license = Apache-2.0
	provides = gowebly
	conflicts = gowebly
	source_x86_64 = gowebly-x64-2.3.4.tar.gz::https://github.com/gowebly/gowebly/releases/download/v2.3.4/gowebly_2.3.4_linux_amd64.tar.gz
	sha256sums_x86_64 = 4adf8cc4097b79ec9f60a7e3d321cb4cdf42a2b74fabd60f47014d9658fb9611

pkgname = gowebly-bin
