pkgbase = mini-audicle
	pkgdesc = Integrated Development + Performance Environment for ChucK
	pkgver = 1.5.5.5
	pkgrel = 1
	url = https://github.com/ccrma/miniAudicle
	arch = x86_64
	groups = multimedia
	groups = pro-audio
	license = GPL
	makedepends = git
	depends = qt6-base
	depends = qscintilla-qt6
	depends = libsndfile
	depends = jack
	optdepends = chuck: for documentation and command line interface
	source = git+https://github.com/ccrma/miniAudicle.git#tag=482a6d1093c40dc76c949c0a0b881eeb941c2fce
	source = miniAudicle.desktop
	sha256sums = 9e4aa933195392ba746d8e836aa797b792cb2130b73a5c179892e3076ffb44d3
	sha256sums = 3b78ff8420a6ed644a6963591491b2ab20c3f613fb03114a7c9044ded8ebd6f0

pkgname = mini-audicle
