pkgbase = python-xmlformatter
	pkgdesc = CLI utility and Python library for formatting XML documents
	pkgver = 0.2.8
	pkgrel = 1
	url = https://pypi.org/project/xmlformatter
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	provides = xmlformatter=0.2.8
	conflicts = xmlformatter
	source = xmlformatter-0.2.8.tar.gz::https://github.com/pamoller/xmlformatter/archive/refs/tags/v0.2.8.tar.gz
	b2sums = d20d1917a542dc7d1241a7eeb65437466f89bc74a30cfb0783d998bd0e2f97efecb34a9d50b0681a86485490dfab9cb3f98db59bf315d40ba87b8577e330a34e

pkgname = python-xmlformatter
