pkgbase = dpp-bin
	pkgdesc = Lightweight and Scalable C++ Discord API Bot Library - binary version
	pkgver = 10.0.35
	pkgrel = 1
	url = https://dpp.dev/
	changelog = dpp-bin.changelog
	arch = x86_64
	license = Apache
	depends = glibc
	depends = gcc-libs
	depends = openssl
	depends = zlib
	depends = opus
	depends = nlohmann-json
	source = https://raw.githubusercontent.com/Neko-Life-aur/dpp-bin-artifacts/main/dpp-10.0.35-1-x86_64.pkg.tar.zst
	validpgpkeys = 988B124407F072AACFA92D2F52B5096DD205E14A
	sha256sums = f91bdf2b962d45b4e8d12155a9957a76c4fc5ff6a39a5330487acf521e9c0041

pkgname = dpp-bin
