pkgbase = opencloud-desktop
	pkgdesc = opencloud desktop application
	pkgver = 3.0.1
	pkgrel = 1
	url = https://github.com/opencloud-eu/desktop
	arch = x86_64
	license = GPL-2.0-only
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = python-sphinx
	makedepends = qt6-declarative
	makedepends = qt6-tools
	depends = gcc-libs
	depends = glibc
	depends = kdsingleapplication
	depends = libre-graph-api
	depends = qt6-base
	depends = qtkeychain-qt6
	depends = sqlite
	depends = zlib
	source = opencloud-desktop-3.0.1.tar.gz::https://github.com/opencloud-eu/desktop/archive/refs/tags/v3.0.1.tar.gz
	sha256sums = 45cb87d5a77510a6831b17c267265dc660224c97e3916275a0451ae7078854fa

pkgname = opencloud-desktop
