pkgbase = illogical-impulse-gtk
	pkgdesc = Illogical Impulse GTK Dependencies
	pkgver = 1.0
	pkgrel = 1
	arch = any
	license = None
	depends = webp-pixbuf-loader
	depends = gtk-layer-shell
	depends = gtk3
	depends = gtksourceview3
	depends = gobject-introspection
	depends = upower
	depends = yad
	depends = ydotool
	depends = xdg-user-dirs-gtk

pkgname = illogical-impulse-gtk
