pkgbase = quake4-demo
	pkgdesc = Quake 4 demo
	pkgver = 1.0
	pkgrel = 5
	url = https://web.archive.org/web/20061205073314/http://www.idsoftware.com/games/quake/quake4/
	install = quake4-demo.install
	arch = i686
	arch = x86_64
	license = custom:"Quake 4 Demo"
	source = quake4-demo.sh
	source = quake4-demo-dedicated.sh
	source = https://aur.slashbunny.com/quake4/quake4-linux-1.0-demo.x86.run
	sha256sums = 6f0620a70380214bc57977b27e0d3584f48443e396faa136fabcb8f712b3b581
	sha256sums = 57c10f7c4771c28ca2e24e5dd6671d01d93e6a5af8df99c42648b54748f7bfdd
	sha256sums = 69e69e8cb22dd1496bcc98dc63f244d35c516c2e770aba64c72275827814bc73
	depends_i686 = gcc-libs
	depends_i686 = libgl
	depends_i686 = sdl
	depends_i686 = zlib
	depends_x86_64 = lib32-glibc
	depends_x86_64 = lib32-sdl
	depends_x86_64 = lib32-libx11
	depends_x86_64 = lib32-libxext
	depends_x86_64 = lib32-zlib
	optdepends_x86_64 = lib32-nvidia-utils: Accelerated 3D with the NVIDIA binary blob video driver
	optdepends_x86_64 = lib32-catalyst-utils: Accelerated 3D with the AMD/ATI binary blob video driver

pkgname = quake4-demo
