pkgbase = easyeda-pro-bin
	pkgdesc = EasyEDA Professional Edition
	pkgver = 2.2.40.8
	pkgrel = 1
	url = https://pro.easyeda.com/
	install = easyeda-pro-bin.install
	arch = x86_64
	arch = aarch64
	license = LicenseRef-EasyEDA-Proprietary
	makedepends = curl
	depends = gtk3
	depends = nss
	depends = alsa-lib
	provides = easyeda-pro
	conflicts = easyeda-pro
	conflicts = easyeda-pro-git
	conflicts = easyeda-pro-electron
	source = easyeda-pro-bin.install
	sha256sums = ab64abe7821e4ea37a0e4d1f77c94f37d6a51c7df2038ba7b609c640adf8e51d
	source_x86_64 = easyeda-pro-x86_64-2.2.40.8.zip::https://image.easyeda.com/files/easyeda-pro-linux-x64-2.2.40.8.zip
	sha256sums_x86_64 = 16dad568a8d2831751a2b1be33176b9f0e15e057d95720b1c901b8767783a466
	source_aarch64 = easyeda-pro-aarch64-2.2.40.8.zip::https://image.easyeda.com/files/easyeda-pro-linux-arm64-2.2.40.8.zip
	sha256sums_aarch64 = bd445d0bbe62a3673bea727b30123f0b8c17d6a2964f178b7e6754b7b3c29f7e

pkgname = easyeda-pro-bin
