pkgbase = libsrm
	pkgdesc = C library that simplifies the development of Linux DRM/KMS applications
	pkgver = 0.13.0_1
	pkgrel = 1
	url = https://github.com/CuarzoSoftware/SRM
	arch = x86_64
	license = LGPL-2.1-only
	makedepends = meson
	depends = libglvnd
	depends = libdrm
	depends = mesa
	depends = libdisplay-info
	depends = libinput
	depends = seatd
	depends = glibc
	depends = systemd-libs
	source = srm-0.13.0-1.tar.gz::https://github.com/CuarzoSoftware/SRM/archive/refs/tags/v0.13.0-1.tar.gz
	sha256sums = 13b9dcad0d41b3e1351992317f77fe33b36d3ce576584d6e0ba7b14434fb82f9

pkgname = libsrm
