pkgbase = elasticdump
	pkgdesc = Import and export tools for Elasticsearch
	pkgver = 6.124.1
	pkgrel = 1
	url = https://github.com/elasticsearch-dump/elasticsearch-dump
	arch = any
	license = Apache-2.0
	makedepends = npm
	makedepends = jq
	depends = nodejs>=8.0
	noextract = elasticdump-6.124.1.tgz
	source = https://registry.npmjs.org/elasticdump/-/elasticdump-6.124.1.tgz
	sha256sums = 9f2c30d0079ee387358da8513f278101888e5f0c100a5c012b23ab53dcaba928

pkgname = elasticdump
