pkgbase = python-conda
	pkgdesc = OS-agnostic, system-level binary package manager and ecosystem https://conda.io
	pkgver = 25.5.1
	pkgrel = 2
	url = https://github.com/conda/conda
	arch = any
	license = BSD-3-Clause
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	makedepends = python-wheel
	depends = micromamba
	depends = python>=3.7
	depends = python-archspec
	depends = python-boltons
	depends = python-boto3
	depends = python-botocore
	depends = python-conda-package-handling
	depends = python-conda-libmamba-solver
	depends = python-frozendict
	depends = python-packaging
	depends = python-platformdirs
	depends = python-pluggy>=1.0.0
	depends = python-pycosat>=0.6.3
	depends = python-requests>=2.20.1
	depends = python-ruamel-yaml>=0.11.14
	depends = python-setuptools-scm
	depends = python-tqdm
	optdepends = python-pytest: for running conda tests
	optdepends = python-pytest-mock: for running conda tests
	provides = python-conda-env
	conflicts = python-conda-git
	options = !emptydirs
	backup = etc/conda/condarc
	source = https://github.com/conda/conda/releases/download/25.5.1/conda-25.5.1.tar.gz
	source = py-3.13-logging.patch
	sha256sums = b3d91503d8f95f29bffd0d47c0f6f9aaa50443a250d5a201ba6866c79099a5c0
	sha256sums = dcd0edb6cc59c67629ddfa6e9fb38f53eff293df92d8a0222ede051c8e66b149

pkgname = python-conda
