pkgbase = gitbutler-bin
	pkgdesc = Version control client, backed by Git, powered by Tauri/Rust/Svelte
	pkgver = 0.17.6
	pkgrel = 1
	url = https://gitbutler.com/
	arch = x86_64
	license = LicenseRef-FSL-1.1-MIT
	depends = libayatana-appindicator
	depends = webkit2gtk-4.1
	depends = gtk3
	source = https://releases.gitbutler.com/releases/release/0.17.6-2578/linux/x86_64/GitButler_0.17.6_amd64.deb
	source = LICENSE.md
	sha256sums = a5250676798b8ba2ba1033c21353e19951c4652a5b8ff53b3a9b0420b271e063
	sha256sums = 2a3154bf44e0b219014291b96249082f3305844a1d73796741468c8128c2829e

pkgname = gitbutler-bin
