pkgbase = ttf-unifont-csur
	pkgdesc = TrueType part of the GNU Unifont containing Michael Everson's ConScript Unicode Registry (CSUR) Private Use Area (PUA) glyphs
	pkgver = 17.0.03
	pkgrel = 1
	url = https://unifoundry.com/unifont/index.html
	arch = any
	license = GPL
	makedepends = fontforge
	depends = ttf-unifont
	source = http://unifoundry.com/pub/unifont/unifont-17.0.03/unifont-17.0.03.tar.gz
	source = http://unifoundry.com/pub/unifont/unifont-17.0.03/unifont-17.0.03.tar.gz.sig
	validpgpkeys = 95D2E9AB8740D8046387FD151A09227B1F435A33
	sha512sums = 70ebb98fe81b8e89d887002be5bdcd7e396cdc21f6404013f9a4b667c61c7c5967c905039d55c45f2455e653c6dfe3284dd62841697a17d4d2d6ef9c9b5ad464
	sha512sums = SKIP

pkgname = ttf-unifont-csur
