pkgbase = insyde-dchu-dkms
	pkgdesc = Insyde DCHU MFD (CLV0001) with hwmon + LED drivers (DKMS)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/hUwUtao/opendchu
	arch = x86_64
	license = 0BSD
	depends = dkms
	provides = insyde-dchu
	conflicts = insyde-dchu
	options = !strip
	source = dchu_core.c
	source = dchu_hwmon.c
	source = dchu_leds.c
	source = dchu.h
	source = Makefile
	source = dkms.conf
	source = README.md
	source = glow_kbd.sh
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = insyde-dchu-dkms
