pkgbase = ampack-git
	pkgdesc = A tool to unpack / (re)pack AMLogic burning images 
	pkgver = 0.1.0.r6.4606606
	pkgrel = 1
	url = https://github.com/7Ji/ampack
	arch = x86_64
	arch = aarch64
	license = AGPL-3.0-or-later
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	provides = ampack=0.1.0.r6.4606606
	conflicts = ampack
	source = git+https://github.com/7Ji/ampack.git
	sha256sums = SKIP

pkgname = ampack-git
