pkgbase = illogical-impulse-python
	pkgdesc = Illogical Impulse Python Dependencies
	pkgver = 1.0
	pkgrel = 1
	arch = any
	license = None
	depends = python-build
	depends = python-pillow
	depends = python-setuptools-scm
	depends = python-wheel
	depends = clang
	depends = uv
	depends = gtk4
	depends = libadwaita
	depends = libsoup3
	depends = libportal-gtk4
	depends = gobject-introspection
	depends = sassc
	depends = python-opencv

pkgname = illogical-impulse-python
