pkgbase = myfetch
	pkgdesc = Just Another Terminal Fetch Script
	pkgver = 1.0.3
	pkgrel = 3
	url = https://github.com/elifouts/MyFetch
	arch = any
	license = MIT
	optdepends = nerd-fonts: for the best experience
	source = myfetch
	sha256sums = SKIP

pkgname = myfetch
