pkgbase = gradience
	pkgdesc = Change the look of Adwaita, with ease
	pkgver = 0.4.1_patch1
	pkgrel = 2
	url = https://github.com/GradienceTeam/Gradience
	install = xdg-config.install
	arch = x86_64
	license = GPL3
	checkdepends = appstream-glib
	makedepends = meson
	makedepends = blueprint-compiler
	makedepends = gobject-introspection
	makedepends = sassc
	depends = libadwaita
	depends = libsoup3
	depends = python-gobject
	depends = python-anyascii
	depends = python-lxml
	depends = python-pillow
	depends = python-pluggy
	depends = python-svglib
	depends = python-yapsy
	depends = python-regex
	depends = python-material-color-utilities
	depends = libportal-gtk4
	depends = python-jinja
	optdepends = adw-gtk3: The theme from libadwaita ported to GTK-3
	optdepends = adw-gtk-theme: LibAdwaita Theme for all GTK3 and GTK4 Apps.
	source = https://github.com/GradienceTeam/Gradience/archive/0.4.1-patch1.tar.gz
	sha512sums = aa33365fa004537e1c466878adfa7d1d1b3ce5ab2126c226408babfa22c16f11fabc80e37cfc6ed3ee4845b9dcdbda8088dabd58ac7a4375d222c9289d5f4fb3

pkgname = gradience
