pkgbase = initcpio-hook-shadowcopy
	pkgdesc = initcpio hook to copy /etc/shadow (or /etc/shadow.initramfs) to the initramfs, for root account debugging usage
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/iTrooz/initcpio-hook-shadowcopy
	install = shadowcopy.install
	arch = any
	license = Apache-2.0
	depends = mkinitcpio
	source = shadowcopy-initcpio-install.sh
	sha256sums = 0406553fcf7cc47ef2acff126ae84788ba9fd5124adacebdfc45b985920c229b

pkgname = initcpio-hook-shadowcopy
