pkgbase = homebridge
	pkgdesc = HomeKit support for the impatient
	pkgver = 1.11.1
	pkgrel = 1
	url = https://github.com/homebridge/homebridge
	arch = any
	license = Apache
	makedepends = npm
	makedepends = jq
	depends = nodejs
	optdepends = homebridge-config-ui-x: for web-based management tool
	noextract = homebridge-1.11.1.tgz
	options = !emptydirs
	options = !strip
	source = https://registry.npmjs.org/homebridge/-/homebridge-1.11.1.tgz
	sha512sums = 999c018e7cf0a7681bfd9df44c0184397853972c0cee67c1ff3355a96eec7ebabdd0b30529cede2a787bce9a326f240dc9f04ca6bc8765139b34c879683f8444
	b2sums = 08f2e0e6762828c0d84c23a56f119ecc70f30219326f951f9632981880da9fcc2c74b0bf48f3cd54f22e794b64b6c21d8202f28034206f66399e6e27e33b8262

pkgname = homebridge
