pkgbase = nextcloud-app-twofactor-webauthn
	pkgdesc = WebAuthn Two-Factor Provider for Nextcloud
	pkgver = 2.4.1
	pkgrel = 1
	url = https://apps.nextcloud.com/apps/twofactor_webauthn
	arch = any
	license = GPL3
	makedepends = nextcloud
	makedepends = yq
	options = !strip
	source = nextcloud-app-twofactor-webauthn-2.4.1.tar.gz::https://github.com/nextcloud-releases/twofactor_webauthn/releases/download/v2.4.1/twofactor_webauthn-v2.4.1.tar.gz
	sha512sums = 61cd457d624c3cf2f4aadb0dd1a82e874a24c56e57a3448d2f0105bef4d5d589c45755151ff9219c6cf8ffac9c84f5d2b4268cf66e32266065372e3228c676d3

pkgname = nextcloud-app-twofactor-webauthn
