pkgbase = open-numismat-git
	pkgdesc = Application to create, organize and manage coin catalogue
	pkgver = 1.10.0.r17.gfd252dd5
	pkgrel = 1
	url = https://opennumismat.github.io/open-numismat/
	arch = any
	license = GPL-3.0-only
	makedepends = git
	makedepends = python-setuptools
	depends = qt6-charts
	depends = qt6-webengine
	depends = pyside6
	depends = python-dateutil
	depends = python-imagehash
	depends = python-jinja
	depends = python-lxml
	depends = python-numpy
	depends = python-opencv
	depends = python-openpyxl
	depends = python-pillow
	depends = python-urllib3
	depends = python-zxing-cpp
	optdepends = qt6-multimedia: for ImageEditor
	source = open-numismat-git::git+https://github.com/OpenNumismat/open-numismat.git#branch=master
	source = https://github.com/OpenNumismat/open-numismat/releases/download/1.9.10/open-numismat_1.9.10_all.deb
	sha256sums = SKIP
	sha256sums = afb640a9d93464b85a6e4cdf9ea28c3d726a672cb610ebd2821966ec100d3521

pkgname = open-numismat-git
