pkgbase = python-influxdb-client
	pkgdesc = Python client for InfluxDB 1.8+ and 2.0
	pkgver = 1.44.0
	pkgrel = 1
	url = https://github.com/influxdata/influxdb-client-python/
	arch = any
	license = MIT
	makedepends = python-setuptools>=21.0.0
	depends = python>=3.7
	depends = python-dateutil>=2.5.3
	depends = python-reactivex>=4.0.4
	depends = python-certifi>=14.05.14
	depends = python-urllib3>=1.26.0
	optdepends = influxdb
	optdepends = python-ciso8601>=2.1.1
	optdepends = python-pandas>=1.0.0
	optdepends = python-numpy
	optdepends = python-aiohttp>=3.8.1
	optdepends = python-aiocsv>=1.2.2
	options = !emptydirs
	source = python-influxdb-client-1.44.0.tar.gz::https://github.com/influxdata/influxdb-client-python/archive/v1.44.0.tar.gz
	sha512sums = 96d7c0151f576f687b97098e54824b4f489c0aa76d6fcab453ad18f8129c61896b5abf2ac1795c44d635657440bfa268c8b09dea18ba04cf7044b268b37672de

pkgname = python-influxdb-client
