pkgbase = systune-git
	pkgdesc = A lightweight and efficient GTK-based system settings manager
	pkgver = r48.58d6da0
	pkgrel = 2
	url = https://github.com/fulgurcode/systune
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = make
	depends = gtk4
	depends = libadwaita
	depends = glibc
	depends = grep
	depends = sed
	depends = awk
	optdepends = libpulse: For audio controls
	optdepends = xorg-xrandr: To change display resolution in Xorg
	optdepends = wlr-randr: To change display resolution in wlroots-based Wayland compositors
	optdepends = swww: To set background in Wayland
	optdepends = feh: To set background in Xorg
	optdepends = brightnessctl: For brightness control
	optdepends = bluez: For Bluetooth controls
	optdepends = networkmanager: For WiFi connections
	optdepends = polkit: Required for superuser permissions in firewall and security settings
	optdepends = ufw: For firewall management
	source = systune-git::git+https://github.com/FulgurCode/systune.git
	sha256sums = SKIP

pkgname = systune-git
