pkgbase = focal-git
	pkgdesc = Rofi menu for capturing and copying screenshots or videos on hyprland / sway.
	pkgver = r42.4c86317
	pkgrel = 1
	url = https://github.com/iynaix/focal
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = git
	makedepends = cargo
	optdepends = tesseract: OCR support
	optdepends = waybar: waybar module support
	source = focal::git+https://github.com/iynaix/focal.git
	sha256sums = SKIP

pkgname = focal-hyprland-git
	depends = glibc
	depends = gcc-libs
	depends = ffmpeg
	depends = grim
	depends = hyprpicker
	depends = rofi-wayland
	depends = slurp
	depends = wf-recorder
	depends = wl-clipboard
	depends = hyprland
	provides = focal
	conflicts = focal-sway-git

pkgname = focal-sway-git
	depends = glibc
	depends = gcc-libs
	depends = ffmpeg
	depends = grim
	depends = hyprpicker
	depends = rofi-wayland
	depends = slurp
	depends = wf-recorder
	depends = wl-clipboard
	depends = sway
	provides = focal
	conflicts = focal-hyprland-git
