pkgbase = libleidenalg
	pkgdesc = Leiden algorithm
	pkgver = 0.11.1
	pkgrel = 1
	url = https://github.com/vtraag/libleidenalg
	arch = i686
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	depends = igraph
	source = https://github.com/vtraag/libleidenalg/archive/refs/tags/0.11.1.tar.gz
	sha256sums = 7d7392afd214c584e023cc2f0d0ac375f58575c32f2e49ba85062065f1637c7f

pkgname = libleidenalg
