pkgbase = tecron-pdfgen-git
	pkgdesc = Python helper for downloading pdf documents for people working in Tecrom
	pkgver = v0.0.3.r1.ecf583a
	pkgrel = 3
	url = https://www.aivallecrosia.com
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python-playwright
	depends = python-pypdf2
	depends = python-requests
	depends = python-beautifulsoup4
	depends = tk
	provides = tecron-pdfgen-git
	conflicts = tecron-pdfgen-git
	source = git+https://github.com/AI-Vallecrosia/tecron-pdfgen.git
	sha256sums = SKIP

pkgname = tecron-pdfgen-git
