pkgbase = gp2-git
	pkgdesc = The rule-based graph programming language GP 2
	pkgver = r1077.b34765e
	pkgrel = 1
	url = https://uoycs-plasma.github.io/GP2/
	arch = x86_64
	license = GPL-3.0-only
	makedepends = git
	depends = bash
	depends = glibc
	depends = glib2
	depends = judy
	depends = autoconf
	depends = automake
	depends = binutils
	depends = bison
	depends = flex
	depends = gcc
	depends = make
	provides = gp2
	conflicts = gp2
	source = gp2-git::git+https://github.com/UoYCS-plasma/GP2.git
	source = https://gist.githubusercontent.com/ismaili-ziad/0e2b06cb0f1a896ac99b2f2a481d39c5/raw/8adad53661c49ce817ee1f63d9056b72917ec755/gp2c
	source = gp2-git.patch
	sha256sums = SKIP
	sha256sums = 3047cb18c916bb503b2dc6f0f312a8f66c713b2a749ac1668856b6b562c1bdc0
	sha256sums = e1541c0e62243cf630b44c0baec81df94532271a6568c04cde14b365b0b4fd45

pkgname = gp2-git
