pkgbase = nordzy-icon-theme
	pkgdesc = Nordzy is a free and open source icon theme for Linux desktops using the Nord color palette from Arctic Ice Studio and based on WhiteSur and Numix Icon Theme.
	pkgver = 1.8.7
	pkgrel = 1
	url = https://github.com/alvatip/Nordzy-icon
	arch = any
	license = GPL-3.0-only
	depends = hicolor-icon-theme
	conflicts = nordzy-icon-theme-git
	options = !strip
	source = Nordzy-cyan-dark-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-cyan-dark.tar.gz
	source = Nordzy-cyan-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-cyan.tar.gz
	source = Nordzy-dark-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-dark.tar.gz
	source = Nordzy-green-dark-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-green-dark.tar.gz
	source = Nordzy-green-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-green.tar.gz
	source = Nordzy-orange-dark-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-orange-dark.tar.gz
	source = Nordzy-orange-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-orange.tar.gz
	source = Nordzy-pink-dark-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-pink-dark.tar.gz
	source = Nordzy-pink-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-pink.tar.gz
	source = Nordzy-purple-dark-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-purple-dark.tar.gz
	source = Nordzy-purple-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-purple.tar.gz
	source = Nordzy-red-dark-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-red-dark.tar.gz
	source = Nordzy-red-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-red.tar.gz
	source = Nordzy-turquoise-dark-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-turquoise-dark.tar.gz
	source = Nordzy-turquoise-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-turquoise.tar.gz
	source = Nordzy-yellow-dark-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-yellow-dark.tar.gz
	source = Nordzy-yellow-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy-yellow.tar.gz
	source = Nordzy-1.8.7.tar.gz::https://github.com/alvatip/Nordzy-icon/releases/download/1.8.7/Nordzy.tar.gz
	sha256sums = 3f28fa9dac41c8662a26ae2f6d50ad34e7dd42e4cabb1b57b2291f3d7cf1878b
	sha256sums = 4fe89889d309b96eddfb50094eeadfaf1b07f58ef6efe9cbc15c7da008d941ad
	sha256sums = ad752b5ce70577408431734fc8004f928a00027a8fce6dd131ae2d0c3dc82069
	sha256sums = 510b73bc15721452e0930d9b4a490f585d463578f5f021609f5bbfd02e1a293b
	sha256sums = a1336304fa248a06f4da460670abf7f06225fa44e3e54d222f32cdb353711a27
	sha256sums = a4a4d09db3d0e72fa7b2e19d6c789922e2a8c15b33d763028882b48ef6909b39
	sha256sums = c0b5ef9c802aab1eef4ffe512147bfa93ef80a3a7fbabbac87b1fe4c400cb410
	sha256sums = a437f20eff11b685541ffa601df404de826ee32775f6ebe1acf38f32dc9da554
	sha256sums = b2ecdac795d57942318d35dab33cd44def92e9232a879254bbe8ebdb01f4762c
	sha256sums = 7605ca7850665e8be9a4c991b8f0311ca7b818b7282c69b29866d678dac7d641
	sha256sums = f389764f3c47c0877cca5323e75ad59e262bd2cf1c96da4bb1abd120c96f36ac
	sha256sums = 3a802a0a3716e0b6922fe92c0d96b6d0e310af8f46ad8d51ab81c42321506719
	sha256sums = ad2df40a34406dc7f0c38f4a17baa7e5118c5ff431324000c8e3c15f211d4ba5
	sha256sums = 8b8e17a31e92d2794ea8a2c9e9974d075df069bcd328cfdead1d368afbf00285
	sha256sums = b9f9692dacc60853e529b6127128d5f63e255e66b96e3fa2e8f93bf352d0e243
	sha256sums = d1f3b76ff58e7fe4a9d93cfcba2de4d041a2ff4dbf287412a5723f449d028610
	sha256sums = b5e171b9486148fc39fabd3e94621a2955db2cec31cbaca8174ad94237ade288
	sha256sums = 38c346bc4de165b79d5b678284b63cc0fa058dccea29ec1b6fabea7117d7b8ad

pkgname = nordzy-icon-theme
