pkgbase = lilac-git
	pkgdesc = The build bot for archlinuxcn
	pkgver = r1172.5017595
	pkgrel = 1
	url = https://github.com/archlinuxcn/lilac
	arch = any
	license = GPL-3.0-only
	checkdepends = python-pytest
	checkdepends = python-pytest-asyncio
	makedepends = python-setuptools-scm
	makedepends = python-psycopg2
	makedepends = python-build
	makedepends = python-installer
	depends = python
	depends = git
	depends = devtools
	depends = nvchecker
	depends = gnupg
	depends = pid_children
	depends = fakeroot
	depends = bubblewrap
	depends = pacman-contrib
	depends = bash
	depends = python-httpx
	depends = python-h2
	depends = python-lxml
	depends = python-yaml
	depends = python-tomli-w
	depends = pyalpm
	depends = python-structlog
	depends = python-prctl
	depends = python-fluent.runtime
	optdepends = smtp-forwarder: for sending error reports
	optdepends = python-psycopg2: for recording build results in a database
	provides = lilac=r1172.5017595
	conflicts = lilac
	source = git+https://github.com/archlinuxcn/lilac.git
	sha256sums = SKIP

pkgname = lilac-git
