pkgbase = video2x-qt6
	pkgdesc = The Qt6 GUI for Video2X
	pkgver = 6.4.0
	pkgrel = 1
	url = https://github.com/k4yt3x/video2x-qt6
	arch = x86_64
	license = ISC
	makedepends = git
	makedepends = cmake
	makedepends = clang
	makedepends = qt6-tools
	depends = video2x
	depends = qt6-base
	depends = qt6-svg
	depends = spdlog
	provides = video2x-qt6
	conflicts = video2x-qt6
	source = video2x-qt6-6.4.0.tar.gz::https://github.com/k4yt3x/video2x-qt6/archive/refs/tags/6.4.0.tar.gz
	b2sums = aa640b3c1c3e994038bfbb4dea638805343b0cc4ea92128aa04c34757f9d20665b715f0aa465b5d781dd1c26918e724e2cc153065bc396992e123f64afe15865

pkgname = video2x-qt6
