pkgbase = i386-elf-gcc
	pkgdesc = GNU gcc for the i386- toolchain
	pkgver = 15.2.0
	pkgrel = 1
	url = https://www.gnu.org/software/gcc
	arch = x86_64
	groups = i386-elf-toolchain
	license = GPL
	makedepends = gmp
	makedepends = mpfr
	makedepends = gcc
	depends = xz
	depends = libmpc
	depends = i386-elf-binutils
	source = http://ftpmirror.gnu.org/gcc/gcc-15.2.0/gcc-15.2.0.tar.xz
	sha512sums = 89047a2e07bd9da265b507b516ed3635adb17491c7f4f67cf090f0bd5b3fc7f2ee6e4cc4008beef7ca884b6b71dffe2bb652b21f01a702e17b468cca2d10b2de

pkgname = i386-elf-gcc
