pkgbase = lceda-pro-bin
	pkgdesc = 免费、专业、强大的国产PCB设计工具
	pkgver = 2.2.43.4
	pkgrel = 1
	url = https://pro.lceda.cn/
	install = lceda-pro-bin.install
	arch = x86_64
	arch = aarch64
	license = LicenseRef-LCEDA-Proprietary
	makedepends = curl
	depends = gtk3
	depends = nss
	depends = alsa-lib
	provides = lceda-pro
	conflicts = lceda-pro
	conflicts = lceda-pro-git
	source = lceda-pro-bin.install
	sha256sums = afba3c6712227a37c08783b3cc1a97ae71e90dc2f575409213d2773372220697
	source_x86_64 = lceda-pro-x86_64-2.2.43.4.zip::https://image.lceda.cn/files/lceda-pro-linux-x64-2.2.43.4.zip
	sha256sums_x86_64 = 6e41aeb3ebd83a1a8ca9c98420469a3b02f387293a19253a1c821c32596a7d75
	source_aarch64 = lceda-pro-aarch64-2.2.43.4.zip::https://image.lceda.cn/files/lceda-pro-linux-arm64-2.2.43.4.zip
	sha256sums_aarch64 = 556ddf0ff364aee7ef3fb937c4f24fed73159f2cbc235a4c28a0a5f6291a32f0

pkgname = lceda-pro-bin
