pkgbase = lceda-pro-bin
	pkgdesc = 免费、专业、强大的国产PCB设计工具
	pkgver = 2.2.42.7
	pkgrel = 1
	url = https://pro.lceda.cn/
	install = lceda-pro-bin.install
	arch = x86_64
	arch = aarch64
	license = LicenseRef-LCEDA-Proprietary
	makedepends = curl
	depends = gtk3
	depends = nss
	depends = alsa-lib
	provides = lceda-pro
	conflicts = lceda-pro
	conflicts = lceda-pro-git
	source = lceda-pro-bin.install
	sha256sums = afba3c6712227a37c08783b3cc1a97ae71e90dc2f575409213d2773372220697
	source_x86_64 = lceda-pro-x86_64-2.2.42.7.zip::https://image.lceda.cn/files/lceda-pro-linux-x64-2.2.42.7.zip
	sha256sums_x86_64 = 8895656379c2645e52ee5d5c7a271974741c22dcd9d2b9c547b300c9ec0fdb06
	source_aarch64 = lceda-pro-aarch64-2.2.42.7.zip::https://image.lceda.cn/files/lceda-pro-linux-arm64-2.2.42.7.zip
	sha256sums_aarch64 = a19c34a38762e235205adc326875530dc1f44118dd1dd75d90e90212431db21f

pkgname = lceda-pro-bin
