pkgbase = lceda-pro-bin
	pkgdesc = 免费、专业、强大的国产PCB设计工具
	pkgver = 2.2.44.12
	pkgrel = 1
	url = https://pro.lceda.cn/
	install = lceda-pro-bin.install
	arch = x86_64
	arch = aarch64
	license = LicenseRef-LCEDA-Proprietary
	makedepends = curl
	depends = gtk3
	depends = nss
	depends = alsa-lib
	provides = lceda-pro
	conflicts = lceda-pro
	conflicts = lceda-pro-git
	source = lceda-pro-bin.install
	sha256sums = afba3c6712227a37c08783b3cc1a97ae71e90dc2f575409213d2773372220697
	source_x86_64 = lceda-pro-x86_64-2.2.44.12.zip::https://image.lceda.cn/files/lceda-pro-linux-x64-2.2.44.12.zip
	sha256sums_x86_64 = 95f4a1a87f82bf3553697a74fc66fe4fd5183835414c9002f86929411d09c6c2
	source_aarch64 = lceda-pro-aarch64-2.2.44.12.zip::https://image.lceda.cn/files/lceda-pro-linux-arm64-2.2.44.12.zip
	sha256sums_aarch64 = 888f2754fcc630e5bc05f1315f6ef183eea843e99470a7f043f87be202ff8b31

pkgname = lceda-pro-bin
