pkgbase = conar-bin
	pkgdesc = AI-powered tool for working with Postgres.
	pkgver = 0.23.3
	pkgrel = 1
	url = https://github.com/wannabespace/conar
	arch = x86_64
	license = AGPL-3.0-or-later
	depends = gcc-libs
	depends = alsa-lib
	depends = libxfixes
	depends = libx11
	depends = glib2
	depends = libxkbcommon
	depends = libxcb
	depends = glibc
	depends = nss
	depends = libxrandr
	depends = libxcomposite
	depends = libcups
	depends = mesa
	depends = pango
	depends = gtk3
	depends = systemd-libs
	depends = nspr
	depends = cairo
	depends = expat
	depends = at-spi2-core
	depends = libxdamage
	depends = libxext
	depends = dbus
	depends = hicolor-icon-theme
	options = !strip
	options = !emptydirs
	source_x86_64 = https://github.com/wannabespace/conar/releases/download/v0.23.3/Conar-Linux-0.23.3.deb
	sha256sums_x86_64 = 98b5168a6ecfba7ae2b779960d9fb8fd6cedb87b698744ab462248fe8d36a61f

pkgname = conar-bin
